apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/durgaraoravuri418/eks-app
    targetRevision: master
    path: .
    valuesFiles:
      - apps/eks-app/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: my-app-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  ignoreDifferences:
- group: apps
  kind: Deployment
  jsonPointers:
    - /spec/template/spec/containers/0/livenessProbe
    - /spec/template/spec/containers/0/readinessProbe
